.container {
    display: flex;           /* makes the container a flex container */
    flex-direction: column;  /* stack the rows vertically */
    align-items: center;     /* center rows horizontally */
    font-size: 100px;
    color: red;
}

.row {
    display: flex;           /*makes each row a flex row*/
             
}

.row div {
    padding: 10px;
    border: 16px solid purple;
    height: 100px;
    width: 100px;
    float: left;
    border-radius: 20%;

}
body {
    text-align: center;
    font-size: 20px;
    background-color: pink;
    color: black;
}