section { 
    width: 500px;
    height: 500px;
    background-color: magenta;
}
#rgba { 
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, .7) /* this will set the opactiy to being completely transparent since it set it to "0".  A "1" value makes it completely opaque.   This will only affect the background color. The .7 will make it more opaque. This is a piece of a color or a channel RGBA  */


}
#opacity1 { 
        width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.3;


    /* the Opacity Property is set on an element and applies to the entire elements transparency including its contens and its decendancts. */
/* opacity is a property that goes from 0-1.  0 is completely transparent.  1 is opaque ( not at all transparent ). So in this instance if we give it an opacity of .3 then this will apply to the entire element of "opactiy" in this case.   */ 
}