body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    background-color: blue;
}
button { 
    background-color: none;
    color: red;
    border: 6px solid;
    padding: 1em 2em; /* reminder: with padding you do top and bottom first then left and right. so with this it sets  1em to the top and bottom and 2em to left and right */
    font-size: 1em;
    transition: all 0.25s;  /* with this transition you could do "all 0.25s; but it is best to put in the full description.  An example would be:
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s; */


}
button:hover {
    border-color: #f1ff5c;
    color: green;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);  /* a negative number will move this up.  A positive number will move it down.  
    */
    cursor: pointer;

}