#button1 {
    cursor: pointer;
    background-color: pink;
    color: rgb(179, 0, 255); 
    border-radius: 8px; 
    margin-top: 25vh;
    padding: 40px 80px; 
    font-size: 25px;
    
    
}
body { 
background-color: purple;
text-align: center; 
display: flex;
flex-direction: column;
justify-content: center;

margin: 0; 

}
#number {
    width: 100px; 
    color: red; 
    background-color: white; 
  

}
