div {
    width: 100px;
    height: 100px;
    background-color: #2d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;

}
#middle {
    background-color: #81b29a;
}

#static #middle { 
position: static; 


}
#relative #middle {
    position: relative;
    top: 100px;
    left: 100px;
}

#absolute {
position: relative;
}

#absolute #middle {

    position: absolute;
    top: 1px;
    left: 1px;
}
#fixed1 #middle {

    position: fixed;
    top: 0;
    left: 400px;
}
/* positions are STATIC by default.  So if you set the position to Static nothing changes.  
   Setting it to position "relative" alone does not do anything.  But if you put in top, bottom, left, or right it will change it.  So for example with this: 
   
   #relative #middle {
    position: relative;
    top: 100px;
}

This will set it to go down by 100 px ( pixels ).  If you set it left to 100px this will actually move it to the right.  You can also do negative values. 


Another option is ASOLUTE: 

The element is removed from the normal document flow, and no space is created for the element in the page layout. The element is positioned relative to its closest positioned ancestor (if any) or to the initial containing block. Its final position is determined by the values of top, right, bottom, and left.

This value creates a new stacking context when the value of z-index is not auto. The margins of absolutely positioned boxes do not collapse with other margins.

FIXED option:  

The element is removed from the normal document flow, and no space is created for the element in the page layout. The element is positioned relative to its initial containing block, which is the viewport in the case of visual media. Its final position is determined by the values of top, right, bottom, and left.

This value always creates a new stacking context. In printed documents, the element is placed in the same position on every page.
*/
