.circle {
     width: 300px;
     height: 300px;
     background-color: magenta;
    transition: background-color 3s;
    transition: border-radius 3s;
    
     /* in the transition css the "1s" means 1 second.
     Transition:
     Syntax is this 
     
     Transition: Property Name | Duration ( duration it take can be in seconds or miliseconds (ms) | Timing Function | Delay

     so when you put: 
     
     transition: background-color 3s 1s; 
    This will put the property name as background-color, the duration it takes as 3s ( 3 second for it to take) and 1 second Delay

     */
}
.circle:hover {
    background-color: cyan;
    border-radius: 50%;
  
}
.circle1 {
     width: 300px;
     height: 300px;
     background-color: blue;
    transition: background-color 3s 1s;
    transition: border-radius 3s;
}
.circle1:hover { 
    background-color: red;
    border-radius: 50%; 
   
}
section div { 
    height: 100px;
    width: 100px;
    background-color: turquoise;
    margin: 20px 0;
    transition: margin-left 3s;
}

section:hover div {
    margin-left: 500px;
}

div:nth-of-type(1){
    transition-timing-function: ease-in;
    background-color: red;
}
div:nth-of-type(2){
    transition-timing-function: ease-out;
}
div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
}
div:nth-of-type(4){
    transition-timing-function: cubic-bezier(.85, 0, 0.15, 1);
}



/*Here’s an example:

link to transitions: https://developer.mozilla.org/en-US/docs/Web/CSS/transition-timing-function

/* Define the element's initial state 
.box {
  width: 200px;
  height: 200px;
  background-color: blue;
  transition: background-color 2s ease;  2 seconds transition time 

  with The properties you can say "all" if you want all properties.  

  So for example: 

  transition: all 1s 3s;
  This would make the transition take 1 second with a 3 second delay.  
}

/* Define the hover state 
.box:hover {
  background-color: red;




  See Easings.net for diferent easin or easeout code
} /*