body {
    background-color: greenyellow;
}
h1 { 
    color: red; 
}
p {
    color: red;
    font-weight: bold; 
}
#generateBtn {
    background-color: cyan;
    color: red;
    font-size: 25px;  
    font-weight: bold; 
}