h1 { 
    text-align: center;
   background-color: rgba(255, 0, 13, 0.288);
    font-weight: normal;
}


h2 { 

color: rgb(0, 255, 55);

}

p {
    color: blue;
    text-align: left;
    font-weight: 700; 

}

/*
*button:hover {
    background-color: red;
    color: white;
}   Changes the color of all buttons when you hover over it to red color.   */

/*post is the class.  Don't forget the "." */




a {
    text-decoration: none;
}
.linkOne:hover { 
    text-decoration: underline;
    color: red;
}
h1::first-letter {
    color: Red;
    font-size: 130px;
}
h2::first-letter {
    color: Red;
    font-size: 130px;
}
p::selection { 
    background-color: Yellow
}
/*the order you set things is important.  So for example if you have two h1s matters.  The second one wins.  So if you have H1 as color blue and then another h1 as color purple, purple wins.  

Also if you have two different style sheets.  The second listed style sheet in HTML matters.  See video 79. 
*/
.button-primary:hover {
    background-color: red;
    color: white;
}
.Secondary:hover {
    background-color: purple;
    color: pink;
}
.Third:hover {
    background-color: green;
    color: yellow;
}
button:hover {
    background-color: olive;
    font-size: 10px;
}
