/*Go to developer.modzilla.org-US/docs/Web/Css::selction for more information*/

h2::first-letter {
    color: Red;
    font-size: 130px;
}
/* p is for paragraph */
p::selection { 
    background-color: Yellow
}