div { 
border: solid;
border-width: thick;
width: 150px;
height: 150px;
color: red;
background-color: yellow;
border-radius: 25px;
padding: 20px;

}
h1 { 
    font-size: 16;
    background-color: grey;
    width: 200px;
    height: 150px;
    color: orange;
}
#one {
    width: 250px;
    background-color: green;
    color: cyan;
    border-radius: 50px;
    padding: 30px;
    border-style: dotted;
    /*box-sizing: border-box;*/

}
#two { 
    background-color: rgb(0, 238, 255);
    color: black;
    border-style: dashed;
    border-left-width: 8px;
    border-right-width: 16px;
    border-top-width: 24px;
    border-bottom-width: 50px;
}
#three {
    background-color: yellow;
    color: black;
    border-width: 5px;
    border-color: orange;
    border-style: solid;
    border-radius: 60px;
}
#four {
    background-color: orange;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 50px;
    color: black;
}
#five {
    border: 4px solid rgb(15, 128, 0);
    background-color: yellow;
    color: rgb(15, 128, 0);
}
#six { 
    /*to make a circle, set the border-radius percentage to 50% */
    border-radius: 50%;
    display: flex;
    background-color: white;
    color: black;
    border-width: 5px;
    align-items: center;
    justify-content: center;
    

}
#seven {
    border: medium solid blue;
    background-color: yellow;
    
    color: blue;
}

img{

    width: 306px;
    height: 366px;

}
#eight {
    text-align: center;
    font-size: 36px;
    width: 326px;
    height: 386px;
    display: flex;
    background-color: grey;
    color: red;
    border-width: 5px;
    align-items: center;
    justify-content: center;
}
/*#rcorners1 {
  border-radius: 25px; /* Sets all four corners to a 25px radius 
  background: #73ad21;  Example background color 
  padding: 20px;
  width: 200px;
  height: 150px;
}
  */
/* website for border https://developer.mozilla.org/en-US/docs/Web/CSS/border */


/*width | style | color 
border: medium dashed green; */