section {
background-color: grey;
width: 4000px; 
height: 800pz; 
}
div { 
    background-color: pink;
    width: 70%;
    height: 20%;
}
h1 { 
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;


}
h2 {
    font-size: 2em;
}
h3{     
    font-size: 1.5em;
}
article {
    font-size: 10px;
}
p { 
    font-size: 1em;
}
/* Percentages are always relative to some other value. 
Sometimes its a valud from the parent and other times its a valude from the element itself.  */

/* ems and rems explained:  With Font-size 1 em equals the font-size of the parent.  2em's is twice the font-size of the partent, etc.

With other properties, 1em is equal to the computed font-size of the element itsself.  

ems and rems are relative to some other value.  
    /*This "line-height" percentage is relative to the h1 font-size of 40px.  So in this instance it changes it to 80px.  */