h1 {
    font-color: rgba(0, 209, 112, 0.5)
}
h2 { 
    font-color: rgba(255, 0, 0, 0.5); /* Semi-transparent red */
}

/* p {
  color: rgba(255, 0, 0, 0.5); /* Semi-transparent red 
  
  The value of "a" in "rgba" is between 0-1.  And this is the level of opacity or how clear the color is.  A value of 1 denotes not at all transpartent. 0 is completely transparent*/

