h1 { 
    text-align: center;
   background-color: rgba(255, 0, 13, 0.288);
    font-weight: normal;
}


h2 { 

color: rgb(0, 255, 55);

}

p {
    color: white;
    
    font-weight: 1400; 

}
p { background-color: black;
    text-align: left;
    
;
}
/*
*button:hover {
    background-color: red;
    color: white;
}   Changes the color of all buttons when you hover over it to red color.   */
.button-primary:hover {
    background-color: red;
    color: white;
}
/*post is the class.  Don't forget the "." */

.Secondary:hover {
    background-color: purple;
    color: pink;
}
.Third:hover {
    background-color: green;
    color: yellow;
}


a {
    text-decoration: none;
}
.linkOne:hover { 
    text-decoration: underline;
    color: red;S
}

/* remember to put "#" in front of colors if you are using hexadeximal */


.Third:nth-of-type(2n){
    background-color: gray;
}
