/*h1 {
    background-color:palegoldenrod;
    border: 1px solid black;
    display: inline;
} */
span { 
    background-color: palevioletred;
    border: 1px solid black;
    width: 500px;
    padding: 50px;
    margin: 50px;
    /*display: block;*/
}

h1 { 
    background-color: paleturquoise;
    border: 1px solid black;
    width: 300px; 
    height: 200px;
    padding: 50px;
    margin: 100px;
    /*display: block;*/
}
div { 
    height: 200px;
    width: 200px;
    background-color:olivedrab;
    border: 5px solid black;
    display: inline-block; 
}
/* By putting the "display: inline; on h1 we change the block element of h1 to inline.  

By putting the "display: block; we can change span ( an inline element ) to a block element. 

In HTML, elements are categorized as either block or inline, determiningS how they are displayed on a webpage. Block elements start on a new line and take up the full width available, while inline elements only take up the necessary width and do not force a line break. This fundamental difference impacts how content is arranged and styled. 

IF an element has an display of inline factors like WIDTH and HEIGHT are ignored.  
*/ 


