.container {
    display: flex;           /* makes the container a flex container */
    flex-direction: column;  /* stack the rows vertically */
    align-items: center;     /* center rows horizontally */
}

.row {
    display: flex;           /*makes each row a flex row*/
             
}

.row div {
    padding: 10px;
    border: 16px solid purple;
    height: 100px;
    width: 100px;
    float: left;
}
body {
    text-align: center;
    background-color: lightblue;
}